.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board{
  background-color: grey;
  border: solid black 0.2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  padding: 1vw;
  gap: 2vw;
}

.ticket{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 2vw;
  padding: 1vw;
  border: solid black 3px;
}

.failed{
  background-color: red;
}

.in-progress{
  background-color: rgb(233, 178, 0);
}

.completed{
  background-color: green;
}

.header{
  display: flex;
  min-height: 5vw;
  border: solid black 3px;
  align-items: center;
  justify-content: center;
}

.column{
  text-align: center;
  width: 30%;
}

ul{
  padding: 0;
}