body{
  background-color: rgba(219, 255, 243, 1);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board{
  border-radius: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  padding: 1vw;
  gap: 2vw;
}

.ticket{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 1vw;
  padding: 1vw;
  border-radius: 1vw;
  background-color: rgba(143, 214, 224, 1);
  transition: transform 0.3s ease-in;
  transform:scaleY(1);
}

.failed{
  background-color: rgba(189, 96, 96, 1);
}

.in-progress{
  background-color: rgba(210, 177, 66, 1);
}

.completed{
  background-color: rgb(77, 174, 77);
}

.ticket .hide-info{
  display: none;
}

.ticket .show-info{
  display: flex;
}

.header{
  display: flex;
  min-height: 5vw;
  font-size: 2vw;
  filter: brightness(90%);
  background-color: inherit;
  border-radius: 1vw;
  align-items: center;
  justify-content: center;
}

.column{
  text-align: center;
  width: 30%;
  border-radius: 1vw;
}

ul{
  padding: 0;
}